.login-form-container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 380px;
  max-width: 80vw;

  color: rgba(255, 255, 255, 0.9);
  padding-bottom: 75px;
  z-index: 1;
}

.signin-error-message {
  color: #ff5e5e;
}
