.main-content {
  position: absolute;
  top: 4rem;
  height: calc(100% - 4rem);
  width: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;

  background: #f9f9f9;
  padding: 20px;
  &.with-secondary-nav {
    height: calc(100% - 6.5rem);
    top: 6.5rem;
  }
}

.main-navigation {
  position: absolute;
  width: 100%;
  height: 4rem;
  background: linear-gradient(222deg, #354f61 0%, #2d2d2d 100%);
  padding: 0 1rem;
  color: rgba(255, 255, 255, 0.9);
  box-sizing: border-box;
  box-shadow: 0 -2px 8px 2px rgba(0, 0, 0, 0.1);
  z-index: 3;
  display: flex;
  justify-content: space-between;

  // flex-grow: 0;
  // flex-shrink: 0;

  .main-navigation__button {
    background: transparent;
    color: inherit;
    border: none;
    height: 100%;
    font-size: 16px;
    font-weight: 500;
    padding: 0 18px;
    outline: none !important;
    transition: all 0.4s;
    cursor: pointer;

    &:after,
    &:before {
      transition: all 0.4s;
    }
  }

  .main-navigation-left-container,
  .main-navigation-right-container {
    display: flex;
    height: 100%;
    align-items: center;
  }
}

.secondary-navigation {
  position: absolute;
  top: 4rem;
  width: 100%;
  height: 2.5rem;
  opacity: 1;
  visibility: visible;
  background: #fff;
  padding: 0 1rem;
  box-sizing: border-box;
  box-shadow: 0 -11px 10px 10px rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid #d2d2d2;
  transition: all 0.3s ease;
  z-index: 2;

  display: flex;
  justify-content: space-between;

  &.hidden {
    height: 0;
    opacity: 0;
    visibility: none;
  }

  .secondary-navigation-left-container,
  .secondary-navigation-right-container {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  .secondary-navigation__button {
    height: 34px;
    line-height: 34px;
    margin-right: 20px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 13px;
    font-weight: bold;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
    cursor: pointer;

    &:hover {
      color: #01963d;
      border-bottom: 2px solid #01963d;
    }
  }
}

.content-container {
  padding-top: 4rem;
}

.main-navigation__logo h1 {
  font-size: 1.5rem;
  margin-left: 20px;
  margin-right: 50px;
}

/* SHIFT */
.main-navigation__item {
  height: 100%;
  &.active {
    background: rgba(255, 255, 255, 0.07);
    // border-bottom: 8px solid lightgreen;
  }
}
.main-navigation__button {
  position: relative;
  z-index: 1;
}
.main-navigation__button:hover {
  color: white;
}
.main-navigation__button:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: ".";
  color: transparent;
  background: rgba(255, 255, 255, 0.07);
  visibility: none;
  opacity: 0;
  z-index: -1;
}
.main-navigation__button:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

.draftwars-logo {
  height: 40px;
  margin-right: 22px;
}
