body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.page-container {
  height: 100%;
  width: 100%;
  padding: 6.5rem 2.5rem;
  position: absolute;
  box-sizing: border-box;
  overflow: auto;
  background: #f3f3f3;
  transition: all 0.5s ease;

  &:after {
    right: 2000px;
  }
}
